* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto Mono;
}
h1 {
  font-size: 100px;
}
.wrapper {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 80px;
}
img {
  height: 40px;
}
.buttons {
  display: flex;
  align-items: center;
  gap: 50px;
}
.buttons div {
  border: 2px solid black;
  padding: 15px;
  border-radius: 50px;
}
.buttons div:hover {
  background-color: aqua;
}
